@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-panel {
    background-color: rgba(255, 255, 255, 0.05);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-glass {
     background-color: rgba(17, 33, 23, 0.5);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.glassmorphic-card {
    background-color: rgba(30, 41, 35, 0.4); /* background-dark/40 with a bit of a green tint */
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid rgba(61, 82, 69, 0.5); /* border-primary/20 */
    transition: all 0.3s ease-in-out;
}
.glassmorphic-card:hover {
    border-color: rgba(54, 226, 123, 0.7); /* primary/70 */
    transform: translateY(-4px) scale(1.02);
    box-shadow: 0 8px 32px 0 rgba(54, 226, 123, 0.1);
}
.icon-background {
    background: linear-gradient(145deg, rgba(54, 226, 123, 0.15), rgba(54, 226, 123, 0.05));
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 24;
}
