
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-dark text-white;
  }
}

@layer components {
    .glass-panel {
        @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-lg;
    }

    .glass-panel-form {
        @apply bg-black/30 backdrop-blur-2xl border-l border-white/10 shadow-2xl;
    }

    .glassmorphic-card {
        @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-lg;
    }

    .icon-background, .icon-container {
        @apply bg-white/10;
    }
}
